<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="market">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Compras</ion-label>
        <!--<ion-badge></ion-badge>-->
      </ion-tab-button>

      <ion-tab-button tab="fridge">
        <ion-icon name="pizza-outline"></ion-icon>
        <ion-label>Refrigerador</ion-label>
        <!--<ion-badge></ion-badge>-->
      </ion-tab-button>

      <ion-tab-button tab="receipt">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Recetas</ion-label>
        <!--<ion-badge></ion-badge>-->
      </ion-tab-button>

      <ion-tab-button tab="menu">
        <ion-icon name="fast-food-outline"></ion-icon>
        <ion-label>Menú</ion-label>
        <!--<ion-badge></ion-badge>-->
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
