.p {
  padding: 1rem;
}

.pt {
  padding-top: 1rem;
}

.pb {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.p-list {
  padding-bottom: 6rem;
}

.display-none {
  display: none;
}

.w-100 {
  width: 100%;
}

.update-background {
  background: dodgerblue;
}

.very-faster {
  animation-duration: 0.35s;
}
